.display {
    border-bottom: rgb(21, 7, 80) solid thick;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 530px) {
    .display {
        justify-content: space-between;
    }
}

.display-container {
    padding: 5rem;
}

button {
    all: unset;
    cursor: pointer;
}

button:hover {
    outline: paleturquoise 1px auto;
}