.form--container {
    /* background-color: paleturquoise; */
    height: 10rem;
}

.form {
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 5rem;
    flex-wrap: wrap;
}

.form>input {
    text-indent: 1rem;
    background: black;
    color: antiquewhite;
    border: grey;
    width: 8rem;
    padding: 6px;
}

#age--input {
    width: 4rem;
}

#btn {
    margin-top: 4px;
}